.github/
.git/
venv/
.idea/
web/rewlis/.idea/
.run/
__pycache__/
build/
dist/
web/
*.zip
*.exe
recognize/
rewlis/__pycache__/
rewlis/model/__pycache__/
rewlis/view/__pycache__/
rewlis/controller/__pycache__/
rewlis/model/img.py
data/
datacreate/
options.json
logcat.txt
latest.txt
ftpconfig.py
*.apk
