.github/
.git/
.idea/
.run/
__pycache__/

venv/
build/
dist/

soxaudio/*
!soxaudio/__init__.py

data/*
!data/__init__.py

create/*
!create/__init__.py
!create/Автор_Имя_-_Книга_Шаблон
!create/Author_Name_-_Book_Template

create/robot/*
!create/robot/__init__.py
!create/robot/input2robot.py
!create/robot/robot.json
!create/robot/input_eng.txt
!create/robot/input_rus.txt

create/recognize/*
!create/recognize/__init__.py

setup/logcat.txt
setup/latest.txt
setup/*.apk
setup/*.zip
setup/*.exe

options.json
*.apk
*.zip
*.exe
