.github/
.git/
venv/
venv39/
.idea/
.run/
__pycache__/
build/
dist/
*.zip
*.exe
recognize/
rewlis/__pycache__/
rewlis/model/__pycache__/
rewlis/view/__pycache__/
rewlis/controller/__pycache__/
rewlis/model/img.py
soxaudio/*
!soxaudio/__init__.py
data/*
!data/__init__.py
datacreate/*
!datacreate/__init__.py
!datacreate/Author_Name_-_Book_Template
datarobot/*
!datarobot/__init__.py
!datarobot/input/__init__.py
!datarobot/output/__init__.py
options.json
logcat.txt
latest.txt
ftpconfig.py
*.apk
