# Client

Kivy
ffpyplayer
mutagen
requests
# pyinstaller==5.6.2
# pyinstaller-hooks-contrib==2022.13
pyinstaller
pyinstaller-hooks-contrib
pillow
regex

# Creator

psutil
numpy
pandas
chardet
scikit-learn
sox
vosk
gensim
tensorflow
tensorflow-hub
tensorflow-text==2.10.0
# tensorflow-text
