# Client

kivy
ffpyplayer
requests
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
chardet
numpy
Pillow
pandas
regex
mutagen

# Creator

# scikit-learn
# sox
# vosk
# gensim
# tensorflow_text==2.10.0